section.my-skills
    .container.skills
        .skills__avatar
            img.skills__avatar-icon(src='./src/images/content/bag.png', alt='')
        .skills__prev
            .skills__prev-text
                .skills__prev-title Чем я могу быть полезен вам
                .skills__prev-desk Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво
            .skills__prev-graph
                .skills__prev-front
                    .skills__prev-front__title Frontend
                        include frontend.pug
                .skills__prev-work
                    .skills__prev-work__workflow Workflow
                        include workflow.pug