section.profile
    header
        .container
            .head
                .logo ВУ
                include menu.pug
                include socials.pug      
    main
            .simple-container
                .about
                    .title Личный сайт<br/>веб разработчика
                    h1.name Вячеслав<br/>Ульянов
                .scroll
                    .scroll-text Скролл
                    .scroll-icon
                .card
                    .card__row
                        .card__row-left
                            .avatar
                        .card__row-right
                            .card__hi Привет, меня зовут
                            .card__name Вячеслав Ульянов
                            .card__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                          
                    .card__row
                        .card__row-left
                            include profile.pug 
                        .card__row-right
                            .text-star Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока, посмотрите, как тут классно и красиво!