.socials
    ul.socials-list
        li.socials-list__item
            a.socials-list__item-link.inst(href='#') 
        li.socials-list__item
            a.socials-list__item-link.vk(href='#') 
        li.socials-list__item
            a.socials-list__item-link.github(href='#')