ul.tech-list
    li.tech-list__item HTML
    li.tech-list__item CSS
    li.tech-list__item Javascript
.works__desk-title Сайт школы образования
.works__desk-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
a.works__desk-link Посмотреть сайт