section.my-works
    .container
        .works__title Мои работы
        .works.arrow-bottom
            .works__window
                img.works__window-pic(src='./src/images/content/w4.png', alt='')
                include works__list.pug
                ul.buttons
                    li.left-arrow
                    li.right-arrow
            .works__desk
                include tech-list.pug